{% extends 'wemeet/index.html' %}

{% load static %}

{% block content %}

<main>
    <section class="form-container">
    <img id="logo" src="{% static 'images/chat.png' %}" alt="not loaded">
        <div>
            <h1>Welcome to Ask And Tell</h1>
            <p>A group Video Calling App</p>
        </div>
        <form id="form">
            <div class="form-field">
                <input type="text" name="room", placeholder = "Enter a Room Name" style = "text-transform:uppercase;"/>
            </div>
            <div class="form-field">
                <input type="submit" value = "Join Stream"/>
            </div>
        </form>
    </section>
</main>

<script type="text/javascript" src="{% static 'js/lobby.js' %}"></script>

{% comment %} <h2>Lobby</h2> {% endcomment %}


{% endblock content %}